{%extends 'skin.html'%}

{% block content %}

    <div class='Breadcrumb'>
        <a href='/'>home</a> 
        {% for crumb in breadcrumb %}
            / <a href="{{ crumb.1 }}">{{ crumb.0 }}</a>
        {% endfor %}
    </div>

    <h1>{{ function.name }}</h1>
        {{ function.description }}

    <h2>Result</h2>
    <dl>
        <dt>HTTP status code</dt>
            <dd>{{ status }}</dd>
        {% if error %}	
            <dt>Error</dt>
                <dd class="Error">{{ error.message|escape }}</dd>
            {% if error.python %}
                <dt>Python traceback</dt>
                    <dd class="Error"><pre>{{ error.python.call_trace|escape }}</pre></dd>
            {% endif %}
            {% if error.trace %}
                <dt>Inner trace</dt>
                    <dd>{{ error.trace }}</dd>
            {% endif %}
        {% else %}
            <dt>Return value</dt>
                <dd>{{ value|escape }}</dd>
        {% endif %}
        <dt>Binding code</dt>
            <dd>{{ result.hash }}</dd>
    </dl>

    {% if function.examples %}
        <h2>Examples</h2>
        <ol>
            {% for example in function.examples %}
                <li><a href="{{ function.path }}/{{ example }}">
                    {{ function.path }}/{{ example }}
                </a></li>
            {% endfor %}
        </ol>
    {% endif %}

{% endblock %}
