{%extends 'skin.html'%}

{% block content %}

    <div class='Breadcrumb'>
        <a href='/'>home</a> 
        {% for crumb in breadcrumb %}
            &gt; <a href="{{ crumb.1 }}">{{ crumb.0 }}</a>
        {% endfor %}
    </div>

{{ module }}

    <h1>{{ module.name }}</h1>
        {{ description }}

    {% if module.submodules %}
        <h2>Modules</h2>
        <ul>
            {% for sub in module.submodules %}
                <li><a href="{{ sub.path|escape }}">{{ sub.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if module.functions %}
        <h2>Functions</h2>
        <ul>
            {% for function in module.functions %}
                <li><a href="{{ function.path|escape }}">{{ function.name|escape }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
