<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/2001/REC-xhtml11-20010531/DTD/xhtml11-flat.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head profile="http://www.w3.org/2005/10/profile">
        <link rel="stylesheet" type="text/css" href="http://www.kirit.com/_resources/buttercup/default.css" />
        <link rel="icon" type="image/x-icon" href="http://www.kirit.com/favicon.ico" />
        <title>Urquell</title>
    </head>
    <body>
        <div class="Body-Content">
            <div class="Article">
                {% block content %}{% endblock %}
            </div>
            <div class="Article-Details">
                <div class="Copyright">
                    <div class="Badge">
                        <a class="External" href="http://creativecommons.org/licenses/by-nc-sa/2.0/">
                            <img
                                src="http://www.kirit.com/_resources/CC-somerights20.gif"
                                alt="Some rights reserved — by-nc-sa version 2"
                            />
                        </a>
                        <img src="http://www.kirit.com/_resources/32px-Cc-by_white.png" alt="Attribution" />
                        <img src="http://www.kirit.com/_resources/32px-Cc-nc_white.png" alt="Non-commercial" />
                        <img src="http://www.kirit.com/_resources/32px-Cc-sa_white.png" alt="Share alike" />
                    </div>
                    <div class="Notice">
                        Copyright © 2002-2009 <a class="External" href="http://www.kirit.com/Site:/Copyright" title="Show the article: « Site » Copyright">Kirit &amp; Tai Sælensminde</a> and <a class="External" href="http://rburns.paiges.net/blog/current">Rob Burns</a>.
                    </div>
                    <div class="Notice">
                        Licensed under a <a class="External" href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons License</a>. Non-commercial use is fine so long as you provide attribution.
                    </div>
                </div>
            </div>
        </div>
        <div class="Body-Menu">
            <div class="Menu-First">
                <div class="Menu">
                    <span class="Menu">kirit.com</span>
                    <ul class="Menu">
                        <li class="Menu"><a class="Menu" href="/">Home</a></li>
                        <li class="Menu"><a class="Menu" href="http://www.kirit.com/">kirit.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="Badge">
                <div><a class="External" href="http://www.felspar.com/"><img alt="Felspar" height="18" src="http://static.felspar.com/felspar-90x18.png" width="90" /></a></div>
            </div>
        </div>
    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-670882-8");
pageTracker._trackPageview();
} catch(err) {}</script>
    </body>
</html>
