html { 	font-size: 86%; }
body {
	margin: 20px;
	color: #000;
	font-family: Verdana, sans-serif;
	font-size: 1.0em;
	background: #f3f3f3;
}

h1 {
	font-size: 1.4em;
}


h2 {
	font-size: 1.1em;
}

a {
	color: #a22;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

div.Breadcrumb {
	color: #777;
	border-bottom: 1px dotted #777;
	padding-bottom: .2em;
}

div.Article-Details {
	border-top: 1px dotted #777;
	padding-top: 1.0em;
	margin-top: 4.0em;
	font-size: 0.8em;
	color: #333;
}

div.Links {
	float: left;
	width: 110px;
}

div.Badge {
	float: left;
	width: 325px;
}

DIV.Notice {
	margin-left: 325px;
}